@page "/"

<!-- Title -->
<div class="justify-center flex">
  <img src="logo-web.png" width="50" />
  <h1>TinyKern</h1>
</div>

<!-- Banner -->
<div class="justify-center flex">
  <img alt="TinyKernel Cover Art" src="https://raw.githubusercontent.com/TinyKern/TinyKernel/master/Assets/TinyKernel%20Cover%20Art.png" width=650 />
</div>

<!-- Links -->
<div class="justify-center flex">
  <h2 class="mx-4 mt-2"><a class="text-black hover:text-black" href="/github">Github</a></h2>
  <h2 class="mx-4 mt-2"><a class="text-black hover:text-black" href="/readme">Readme</a></h2>
</div>

