<footer class="position-fixed grid justify-items-center items-center
        bottom-0 w-screen h-6 bg-gray-700 text-white">
  <p>
    &copy;@DateTime.Today.ToString("yyyy") TinyKern -
    <a class="text-gray-50 hover:text-gray-100" href="/github">Github</a>
    <a class="text-gray-50 hover:text-gray-100" href="/readme">Readme</a>
  </p>
</footer>

@code {

}