@inherits LayoutComponentBase

<div class="page">
  <div class="main">
    <div class="top-row px-4">
      <h1><a href="/" class="justify-start text-black hover:text-black hover:no-underline">TinyKern</a></h1>
      <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4 ml-6">
      @Body
    </div>

    <Footer />
  </div>
</div>
